@model IEnumerable<Employee_Portal_Test.Models.document>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Exportubs" class="btn btn-outline-success"><i class="far fa-plus-square"></i> UBS Data Transfer </a>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <input type="file" name="ifile" required />
    <input type="file" name="ifile" required />
    <input type="submit" value="upload.." required />
    <hr />
    <h3>@ViewData["Message"]</h3>
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Empno</th>
            <th>FileName</th>
            <th>Document view</th>
        </tr>
        @foreach (var img in Model)
        {
            <tr>
                <td>@img.docID</td>
                <td>@img.EMPNO</td>
                <td>@img.Empno2</td>
                <td><img src="~/Docimg/@img.Empno2" height="380" width="620" /></td>
            </tr>
        }
    </table>
</form>