@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to BCCK Employee Portal</h1>
</div>
<div class="text-center">
    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-height: 300px; max-width: 300px" src="~/images/1234.png" alt="bcck">
</div>
<a asp-action="Importubs" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Import to UBS </a>
<a asp-action="Exportubs" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Export to UBS </a>