

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <div>
        <pre style="font-size:15px;">

Click the link to see the changes and confirm

                click<a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
