

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <div>
        <pre style="font-size:15px;">

                       Hello !
Please note that your request has been denied at this time. For further queries and/or questions do not hesitate to contact HOD 

                
        </pre>
    </div>
</body>
</html>
