@{
    ViewBag.Title = "Confirm";

}

<br />
<br />
<div class="alert alert-warning" id="previous">
    <strong>Confirm Your Account</strong>
    <input type="submit" class="btn btn-warning" value="Confirm" onclick="Verified()" />
</div>

<div class="alert alert-success" id="after" style="display:none">
    <strong><span class="glyphicon glyphicon-ok"></span> Information is sucessfully Edited</strong>
</div>

<div class="alert alert-warning" id="previous1">
    <strong>Confirm Your Account</strong>
    <input type="submit" class="btn btn-warning" value="Reject" onclick="Verified1()" />
</div>
<div class="alert alert-success" id="after1" style="display:none">
    <strong><span class="glyphicon glyphicon-ok"></span> The Request is rejected </strong>
</div>
<div class="card-body">
    Emp No : @foreach (var a in Model.Pmast)
    {@a.Empno;
}
    <br />
    Name : @foreach (var a in Model.Pmast)
    {@a.Name;
}
</div>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Previous</th>
                <th scope="col">After</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Address 1</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Add1;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Add1;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Address 2</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Add2;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Add2;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">PostCode</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Postcode;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Postcode;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Town</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Town;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Town;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.State;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.State;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Phone No</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Phone2;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Phone2;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Martial Status</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Mstatus;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Mstatus;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Religion</th>
                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Relcode;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Relcode;
                }
                </td>
            </tr>
            <tr>
                <th scope="row">Income Tax No</th>

                <td>
                    @foreach (var a in Model.Pmast)
                    {@a.Itaxno;
                }
                </td>
                <td>
                    @foreach (var b in Model.PmastTemp)
                    {@b.Itaxno;
                }
                </td>
            </tr>

        </tbody>
    </table>
</div>
<script src="~/js/scripts/confirm.js"></script>

@{
    <script>
        function Verified() {
            $.ajax({
                type: "post",
                url: "/Dashboard/RegisterConfirm",
                data: { 'empno': '123456' },
                success: function (msg) {
                    $("#previous").hide();
                    $("#after").show();
                    alert(msg);
                }
            })
        }
    </script>
    <script>
        function Verified1() {
            $.ajax({
                type: "post",
                url: "/Dashboard/RegisterConfirm1_1",
                data: { 'empno': '123456' },
                success: function (msg) {
                    $("#previous1").hide();
                    $("#after1").show();
                    alert(msg);
                }
            })
        }
    </script>
}