@page
@{ ViewData["Title"] = "User does not exist"; }

<h1>@ViewData["Title"]</h1>
    <p>
        <a/>The user with this EmpNo does not exist in Pmast database. User needs to exist in Pmast database (by import or manual entry) in order to be registered into the application </a>
    </p> 